[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_SUPABASE_URL = "https://bxftloycjanilwuowksc.supabase.co"
  VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4ZnRsb3ljamFuaWx3dW93a3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgyNTUwMjQsImV4cCI6MjA4MzgzMTAyNH0.r0I4uhKDs8JlzhXFW3wNqaggy-GQO7R4AFTrtM5riRs"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
